<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<connectionStrings>
		<add name ="QUANLYLICHLAMVIECConnection"
			 connectionString="Server=localhost\SQLEXPRESS; 
								Database=QUANLYLICHLAMVIEC; 
								Integrated Security=True; 
								MultipleActiveResultSets=True; 
								TrustServerCertificate=True "
								
		providerName="System.Data.SqlClient" />
		</connectionStrings>
</configuration>